.loginCol{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAmx-B26aYjbZsCGBwxp8FQEz0JDh_FYnftqX1WK_oTkdHYb00pA");
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height:95vh;
}

